/*
body {
    font-family: Arial;
    font-size: 10pt;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

    table th {
        background-color: #F7F7F7;
        color: #333;
        font-weight: bold;
    }

    table th, table td {
        padding: 5px;
        border: 1px solid #ccc;
    }

#pdf_container {
    background: #ccc;
    text-align: center;
    display: none;
    padding: 5px;
    height: 820px;
    overflow: auto;
}

*/