<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DBCS"
			 connectionString="Server=(localdb)\MSSQLLocalDB;database=SampleNew;Integrated Security=SSPI;Trusted_Connection=true"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="KuberXServices.Service1" behaviorConfiguration="mexBehaviour">
				<endpoint address="EmployeeService" binding="basicHttpBinding" contract="KuberXServices.IUser" >
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8085/"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehaviour">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
